@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ai-star-pulse {

  0%,
  100% {
    /* transform: scale(1) rotateY(0deg); */

  }

  50% {
    /* transform: scale(1.1) rotateY(180deg); */

  }
}

.animate-ai-star {
  display: inline-block;
  animation: ai-star-pulse 2s infinite;
}

.animate-ai-star:hover {
  animation-play-state: paused;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out;
}

